/**Workflow for medaka on large genomes**/

params {
    /** Input file definition **/
    genome = "path/to/polished/assembly.fasta"
    reads = "ONT_reads.fastq"
    bam_file = "path/to/aligned.bam"
    bai_file = "path/to/aligned.bam.bai"
    model = "r1041_e82_400bps_sup_v5.2.0" //model found with medaka tools resolve_model --auto_model <consensus/variant> <input.bam/input.fastq>
    
    contigs_per_batch = 4

    /** Output directory **/
    outdir = "$baseDir"
}


singularity {
    enabled = true
    automMounts = true
    runOptions = "--bind /work2/fcmartin/,	"
}

process {

    cpus = 16
	
    withLabel: 'create_regions' {
        container = "path/to/singularity/image.sif"
    }

    withLabel: 'medaka_inference' {
		cpus = 6
		memory = 16.GB
        container = "path/to/singularity/image.sif"
    }

    withLabel: 'medaka_sequence' {
        container = "path/to/singularity/image.sif"
    }
    
}
